.notebook-label{
    margin: 10px 10px 20px 20px;
}

.page2-button{
    margin: 5px;

}

.lblTitle{
    font-size: 50px;
    font-weight: bold;

}

.lblSection{
    font-size: 20px;
    font-weight: bold;
}

#box-container{
    padding: 10px;
    border: 15px;
    background-color: #D9D9D9;

}

button{
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
button:hover{
    background-color: #19771d;
}

#transmissor-tab{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

#receptor-tab{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

#warning{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

label{
    color: black;
    font-size: 19px;
}

.btnLbl{
    font-weight: bold;
    font-size: 22px;
}
.entry{
    background-color: rgb(76, 76, 76);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.box{
    background-color: white;
    
}

#close-app{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;

}