button{
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
button:hover{
    background-color: #19771d;
}

label{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.grid{
    
}

#close-app{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;

}