/* Style the label */
.header-label {
    font-size: 180 px;
    font-weight: bold;
    color: #4caf50;
    margin: 10px;
}

/* Style all buttons */
.styled-button {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 180px;
}

.styled-button:hover {
    background-color: #1976d2;
}
